@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch  */

.open .navbar {
  display: flex;
}

.open .menu {
  display: none;
}

.open .close {
  display: block;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(60, 179, 100, 0.95);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .hero {
  margin-top: 9rem;
}

/* html {
  scroll-behavior: smooth;
} */
